{{!< layout}}

<div>Customers list</div>

<button id="add-customer">Add a new Customer</button>

<div id="customers-list" style="margin-top: 50px;">
    <div id="12" class="comapny">
        <img src="" alt="Logo">
        <div class="company-name">Tesla</div>
        <div class="description">Desc of Tesla</div>
        <div class="website">www.tesla.com</div>
    </div>
</div>

<script>

    function indexText(customer, args) {
        AP.request({
            url: "/rest/api/content/" + customer.id + "/property",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                "key": "ac:custom-content:search-body",
                "value": args.metadata.properties['customer-data']['value']['description']
            }),
            success: function (response) {
                console.log("indexText success")
            },
            error: function (err) {
                console.log("indexText failed")
            }
        });
    }

    console.log('Installing click event listener...')
    $('#add-customer').on('click', function () {
        console.log('#add-customer click event listener triggered...')
        AP.dialog.create({
            key: 'newCustomer',
            chrome: false
        })
    });

    AP.events.onPublic('customerDataEvent', function (args) {
        console.log('on public event: customerDataEvent...')

        AP.request({
            url: '/rest/api/content',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(args),
            success: function (customer) {
                customer = JSON.parse(customer);
                console.log("Customer successfully persisted to Confluence", customer);
                indexText(customer, args)
            },
            error: function (err) {
                console.log("content error - ", err);
            }
        });
    });

    $(function () {
        AP.request({
            url: "/rest/api/content/",
            data: {
                "type": 'ac:my-app:customer',
                "spaceKey": "{{spaceKey}}",
                "expand": "children"
            },
            success: function (response) {
                let customers = JSON.parse(response).results;
                customers.forEach(customer => {
                    AP.request({
                        url: `/rest/api/content/${customer.id}/property/customer-data`,
                        success: (jsonData) => {
                            jsonData = JSON.parse(jsonData);
                            $("#customers-list").append('<div id="' + jsonData.id + '" class="company"><img src="' + jsonData.value.logo
                                    + '" alt="Logo"><div class="company-name">' + jsonData.value.companyName + '</div><div class="description">'
                                    + jsonData.value.description + '</div><div class="website">' + jsonData.value.website + '</div></div>')
                        }
                    });
                });
            },
            error: function (err) {
                console.log("err - ", error)
            }
        });
    })

</script>