{{!< layout}}

<div>
  <div class="aui-dialog2-content">
    <form id="add-note-dialog" class="aui top-label new-note-dialog">
      <div class="field-group top-label">
        <input class="text long-field" type="text" id="note" name="note" placeholder="Add your note here" />
      </div>
      <button id="dialog-submit-button" class="aui-button aui-button-primary">Submit</button>
      <button id="dialog-close-button" class="aui-button aui-button-link">Close</button>
    </form>
  </div>
</div>

<script>
$(function(){
    $("#dialog-submit-button").on("click", function(){
      var jsonData = {
          "type": "ac:my-app:note",
          "space": {
              "key": "{{spaceKey}}"
          },
          "container": {
            "type": "ac:my-app:customer",
            "id": "{{contentId}}"
          },
          "title": " ",
          "body": {
              "storage": {
                "value": $("#note").val(),
                "representation": "storage"
              }
          }
      }

      AP.events.emitPublic('noteDataEvent', jsonData);
      AP.dialog.close()
    })

    $("#dialog-close-button").on("click", function(){
      AP.dialog.close()
    })
})
</script>